@font-face {
  font-family: 'gyparody';
  src: url('./gyparody.ttf') format('truetype');
}
@font-face {
  font-family: 'digital-7';
  src: url('./digital-7.ttf') format('truetype');
}
@font-face {
  font-family: 'shadows';
  src: url('./ShadowsIntoLight-Regular.ttf') format('truetype');
}

body {
  color: #fff;
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
  height: 100vh; /* full viewport height */
  margin: 0; /* remove default body margin */

  background-color: #080747;
  background-image: url('https://www.transparenttextures.com/patterns/3px-tile.png');
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
#root {
  width: 90%;
}
a:link,
a:visited {
  color: #acaf8d;
}
a:hover {
  color: #fff;
}
h1 {
  font-size: 1em;
}
#main.trivia .terminalWindow {
  display: none;
}

.splash-screen {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.rules ul {
  margin-bottom: 50px;
  padding-left: 20px;
}
.rules li {
  margin: 10px 0;
}
.trivia-board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}
.trivia-board.final-round {
  display: flex;
  max-width: 80%;
  margin: 40px auto;
  justify-content: center;
}
.trivia-board h1 {
  text-align: center;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  padding: 0 10px;
  background-color: #0e0c66;
  text-transform: uppercase;
}

div.value {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  cursor: pointer;
  color: #ecec44;
  font-size: 3em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
}
.value:hover {
  background-color: #1a17e1;
}
.value.wager {
  height: auto;
  font-size: inherit;
}
.value.wager:hover {
  background-color: transparent;
}
.wager-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value input {
  font-family: shadows;
  background: transparent;
  color: #fff;
  font-size: 3.1em;
  min-width: 120px;
  margin: 0px auto;
  text-align: center;
  width: 80%;
  border: 0;
  outline: none;
  margin: 0 0 20px;
}
.wager-box button {
  margin: 20px 0;
  width: 50%;
}
/* WebKit */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-moz-number-spin-box {
  display: none;
}
.trivia-container {
  width: 95%;
  margin: 20px auto 40px;
}

.inactive {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms linear,
    scale 500ms linear;
  scale: 0.5;
}

.active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 100ms linear, scale 300ms linear;
  scale: 1;
  z-index: 9999;
}
button {
  width: auto;
  background-color: #195654;
  border: 0;
  color: #c5c2c2;
  font-size: 0.8em;
  padding: 1.4em;
  text-transform: uppercase;
  cursor: pointer;
}
button:hover {
  background-color: #338784;
  color: #e3e3e3;
}

.skipButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skipButton button {
  margin-left: 10px;

  text-transform: uppercase;
  background-color: #b4561f;
}
.skipButton button:hover {
  background-color: #cc6140;
}

.game-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #0e156a;
  max-width: 600px;
  width: 80%;
  border-radius: 0.5rem;
  padding: 20px;
  color: #fff;
  border: 2px solid #fff;
}
.qForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px 0;
}
.qResult {
  text-align: center;
  line-height: 3em;
  font-size: 1.2em;
}
.question {
  line-height: 1.7em;
}
.answer {
  display: flex;
  padding: 10px 0;
  align-items: center;
  margin-top: 10px;
}
.answer span {
  min-width: 100px;
}
.terminal-input {
  margin-left: 20px;
  width: 70%;
  background-color: #383838;
  display: block;
  padding: 0.9em;
  outline: none;
}
.deactivated {
  pointer-events: none;
  background-color: #090646;
  text-decoration: line-through;
  color: var(--secondary-color);
}

.game-container {
  position: relative;
  margin: 20px auto;
}
.gameHeader {
  display: flex;
  background-color: #12113a;
  align-items: center;
  border: 1px solid;
  color: #fff;
  justify-content: space-between;
  width: 100%;
  font-family: digital-7;
  font-size: 1.3em;
}
.header-left,
.header-right {
  display: flex;
  margin: 10px 0px 10px 40px;
  align-items: center;
  width: 50%;
}
.gameTitle {
  text-transform: uppercase;
  font-family: gyparody;
  font-size: 1.6em;
  letter-spacing: 0.1em;
}

.score {
  margin: 10px auto;
  text-align: center;
}
.round {
  margin-left: 20px;
}
.gameHeader button {
  background-color: #070414;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 0.8;
  color: #b5b5b5;
  margin-right: 20px;
}
.gameHeader button:hover {
  background-color: #1e1ca8;
  color: #fff;
}
.loading {
  visibility: hidden;
  opacity: 0;
}

@media only screen and (max-width: 799px) {
  body {
    align-items: flex-start;
  }
  div.value {
    font-size: 2.2em;
  }

  .gameHeader {
    flex-direction: column;
  }
  .header-left,
  .header-right {
    justify-content: space-around;
    margin: 10px 0 10px;
    width: 100%;
  }
  .header-right {
    border-top: 1px solid #e0e0e0;
    margin-bottom: 20px;
    padding-top: 20px;
  }
  .trivia-board > div {
    min-width: 40%;
  }

  .answer {
    flex-direction: column;
  }
  .trivia-board {
    display: block;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .off {
    display: none;
  }
  .on {
    display: block;
  }
  .trivia-board.final-round .off {
    display: block;
  }
}
